.containerGlobal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    .containerNav{
        width: 95%;
    }
    
    .containerGeneralInformation{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #f8fafc;
        justify-content: center;
        color: black;
        box-sizing: border-box;
        overflow-y: auto;
        
        .containerGeneral{
            width: 90%;
            height: 100%;
            margin: 25px;
            
            .containerGeneralForms{
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px 15px 15px 15px;
                -webkit-border-radius: 15px 15px 15px 15px;
                -moz-border-radius: 15px 15px 15px 15px;
                border: 1px solid;

                .containerForm{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;

                    .containerInput{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .date{
                            margin-bottom: 4px;
                            font-size: larger;
                            font-style: inherit;
                            font-weight: 500;
                            font-family: serif;
                        }
                        #startDate, #endDate{
                            height: 25px;
                            width: 100px;
                        }
                    }
                    .button{
                        border-radius: 9px;
                        height: 40px;
                        width: 82px;
                    }
                    .button:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }

            .containerGeneralTable{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;
                background-color: #fdfdfd;
                flex-wrap: nowrap;
                align-items: center;
                margin-top: 40px;

                .containerTableType{
                    width: 50%;
                    .containerTittle{
                        text-align: center;
                    }
                    .containerTable{
                        width: 100%;
                        .containerTableThead{
                            height: 30px;
                            .containerTableTr{
                                width: 100%;
                                text-align: center;
                            }
                        }
                        .containerTableTBody{
                            height: 440px;
                            width: 100%;
                            .containerTableTr{
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .Leyendas{
                margin: 0px;
                padding: 0px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .TableTimeZone{
                .tableTypeTimeZone{
                    height: auto;
                    width: 40%;
                    .tableTimeZone{
                        height: 80px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        border-radius: 15px;
                        border: black solid 1px;
                        .TableTheadTimeZone{
                            height: 80px;
                            width: 20%;
                            .TableTrTimeZone{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                height: 100%;
                                justify-content: space-around;
                            }
                        }
                        .tableTBodyTimeZone{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-around;
                            height: 80px;
                            width: 80%;
                            .tableTrTimeZone{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                height: 80px;
                                margin-left: 10px;
                                margin-right: 10px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
            .TableTimeZonesOTT{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 600px;
                .TableTimeZoneOTT{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap;
                    width: 50%;
                    height: 500px;
                    overflow: hidden;
                    .TableZoneOTT{
                        width: 100%;
                        display: flex;
                        overflow-y: scroll;
                    }
                }
                .containerGraphType{
                    height: 500px;
                    text-align: center;
                    justify-content: center;
                    align-self: center;
                    display: flex;
                    .graficaOTT{
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .TableOTT{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 600px;
                .containerTableOTT{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap;
                    width: 50%;
                    height: 500px;
                    overflow: hidden;
                    .TableTypeOTT{
                        width: 100%;
                        display: flex;
                        overflow-y: scroll;
                        justify-content: center;
                    }
                }
                .containerGraphType{
                    height: 500px;
                    text-align: center;
                    justify-content: center;
                    align-self: center;
                    display: flex;
                }
            }
        }
    }
}